body, h1, h2, h3{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: small;
}
main {
    width: 75%;
    margin: auto;
}
section {
    width: 100%;
}
header {
    background-image: url("imgs/Group.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
figure {
    margin-top: 0;
}
.welcomeMsg{
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 0.2em;
}

h1{
    font-size: 4em;
    margin: 0.8em;
    font-weight: bold;
}

h2{
    font-size: 3em;
    margin: 0.5em;
    text-transform: capitalize;
}

h3 {
    font-size: 3em;

}

h4{
    font-size: 1.2em;
}

.curlyHeader {
    font-family: 'Pinyon Script', cursive;
    color: goldenrod;
    font-weight: lighter;
}
/*=== Navigation===*/
#navbar{
    padding: 2em;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: 100;
}
#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}
#navbar a.active{
    color: goldenrod;
}
#navbar a:hover{
    color: goldenrod;
}
.theFiasco_btn{
    float: left;
}
.reservation_btn{
    border: goldenrod 1px solid;
}
/*==========*/

/*=== Large Article ===*/
.largeArticle{
    width: 100%;
    clear: both;
}
/*
.imgContainer {
    height: 425px;
    width: 350px;
    position: relative;
    display: inline-block;
}
.imgContainer img{
    position: relative;
    z-index: 2;
    display: inline-block;
}
.imgOutlineLeft{
    width:100%;
    height:100%;
    position:absolute;
    border:1px solid goldenrod;
    top:-30px;
    left:-30px;
}*/
.imgOutlineRight{
    width:100%;
    height:100%;
    position:absolute;
    border:1px solid goldenrod;
    top:-30px;
    right:-30px;
}
.largeArticleTxt{
    margin: 100px;
    float: right;
}
.largeArticleTxtHeader{
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.leftAlignedImg{
    float: left;
}
.rightAlignedImg{
    float: right;
}

.reservation {
    clear: right;
    height: 600px;
    width: 100%;
    background-color: #3c3f41;
}

.recipes {
    height: 900px;
    text-align: right;
    overflow: auto;
    display: inline-block;
}

.recipeText {
    margin-left: 35%;
    text-wrap: normal;
    font-size: 1.45em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.infotable {
    font-size: 1.5em;
}

.datum1 {
    float: left;
    margin-left: 25%;
    margin-right: 25px;
}

.datum2 {
    float: left;
    margin-left: 25%;
    margin-right: 25px;
}

.datum3 {
    float: left;
    margin-left: 25%;
    margin-right: 25px;
}

.infotable {
    margin-right: 50px;
}

.infoinputcontainer {
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    border-bottom: 3px solid #BBBBBB;
    margin-left: 25%;
    color: lightgrey;
}

.infoinputcontainerbottom {
    padding-top: 10px;
    margin-bottom: 50px;
    border-bottom: none;
    margin-left: 25%;
    color: lightgrey;
}

.infoinput {
    text-align: justify;
}

.date {
    margin: 0;
    padding-top: 25px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.month {
    margin: 0;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    color: grey;
}

iframe {
    width: 99%;
    height: 600px;
}

.bloglink {
    text-decoration: none;
    color: goldenrod;
    margin-right: 40px;
    font-size: large;
}

footer {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #3c3f41;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer > div {
    display: inline-block;
    float:left;
    word-wrap: normal;
    margin-left: 75px;
}

.footerHeader {
    color: #b9b12e;
}

.ContactInfo {
    padding-bottom: 100px;
}

.copyright {
    clear: left;
}

.copyright > p {
}


